# Игнорирование данных
data_*/
*.csv

# Игнорирование конфигурационных файлов и папок
# node_modules/
# .env

# Файлы настроек редакторов
.vscode/
.idea/

# Кэш и другие временные файлы
*.log
*.tmp
*.swp

# Компилируемые файлы
*.exe
*.out
*.class

# Файлы настроек операционной системы
.DS_Store
Thumbs.db

# Конфигурация зависимостей
package-lock.json
yarn.lock
    